.site-header {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 34px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.site-title:hover {
    color: #CE9E01;
    text-decoration: none;
}

.site-header nav {
    display: flex;
    gap: 15px;
}

.site-header nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.site-header nav a:hover {
    color: #007bff;
}

article {
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #133D59;
}

p,
li {
    font-size: 18px;
}

h1 {
    font-size: 2em;
    color: #2c3e50;
    border-bottom: 2px solid #133D59;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px; // Add extra space above
    margin-bottom: -10px; // Reduce space below
}

a {
    color: #CE9E01;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}