---
---
@import 
  "minima/skins/classic",
  "minima/initialize";

// Your custom variables
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);